#project-list {
  display: grid;
  margin: 3%;
  grid-template-columns: 30% 30% 30%;
  margin-left: 3%;
  column-gap: 3%;
  row-gap: 2%;
}

@media (max-width: 600px) {  
  #project-list {
    display: grid;
    grid-template-columns: 45% 45%;
  }
}